   * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    html, body {
      width: 100%;
      height: 100%;
    }
   
    
    body {
      height: 100%;
      background-image: url("../img/bg2.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    
    main {
      position: relative;
      height: 100%;
    }
    
    #myyan {
      position: absolute;
      width: 40%;
      left: 28%;
      top:-3%;
      display: none;
    }
    /*������ť*/
    
    #myxl {
      position: absolute;
      width: 80%;
      top:50%;
      top: -40%;
      left: 10%;
      z-index: 9;
    }
    
    
    main>button {
      position: absolute;
      width: 50%;
      height: 6%;
      left: 25%;
      top: 85%;
      font-size: 2rem;
      color: #4b3127;
      font-weight: bold;
      border-radius: 5px;
      background: linear-gradient(to bottom, #e9d0a8, #e1ba8e);
      border:none;
    }
    
    /*������*/
    #boxbg{
     height:100%;
     background-color:rgba(0,0,0,0.7);
     width:100%;
     position:absolute;
     top:0;left:0;
     z-index:99;
     display:none;
    }
     #boxcenter{
     height:250px;
     width:60%;
     position:relative;
     margin:50% auto;
    }
     #boxcenter_t{
     background-color:#ffffff;
     height:80%;
     text-align:center;
     padding:20px;
     border-top-left-radius:5px;
     border-top-right-radius:5px;
    }
    #myxy{
    border-bottom-left-radius:5px; 
    border-bottom-right-radius:5px;
    width:100%;height:20%;
    background-color:#ef8609;
    color:#ffffff;
    font-size:18px;
    border:none;
    }
    #myclose>img{
    height:20px;
    width:20px;
    position:absolute;
    top:-10px;right:-10px;
    }


    /*列表*/
      ul {
      width: 100%;
      height: 100%;
    }
    
    ul li {
      list-style-type: none;
      height: 90px;
      border-bottom: solid 2px #e4e4e6;
      font-size: 16px;
      padding: 3% 3%;
      width: 100%;
      background-color: #e1d2a4;
    }
    
    #myrecord {
      height: 70px;
      width: 100%;
      background-color: #e4c197;
      font-size: 20px;
      padding: 20px 20px;
      font-weight:bold;
    }
    
    #list>li>img {
      height: 65px;
      width: 65px;
      border-radius: 50%;
      float: left;
    }
    
    #mynicheng {
      float: left;
      padding: 15px 20px;
      font-weight: bold;
    }
    
    #mytime {
      float: right;
      padding: 15px 10px;
    }